<% layout('boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
        </div>
    </div>
    <a href="/users" class="btn btn-secondary btn-lg w-30 mx-auto text-dark">Back</a>
</div>